small.ano-tempo {
    font-size: 12px;
    color: #505050;
    display: block;
    margin-bottom: 10px;
}

small.categoria {
    display: block;
    font-size: 12px;

}

small.sinopse {
    font-size: 12px;
    text-align: justify;
    color: #191919;
    display: block;
    margin-bottom: 10px;
}

small.rate {
    font-size: 18px;
    float: right;
    margin-top: 10px;
}

img.poster{
    width: 185px;
    height: 278px;
}

strong.titulo {
    font-size: 18px;
}
